/* #head {
    color: red;
}

.header {
    background-color: black;
    color: wheat;

    new feature
    adding the second feature in the new feature branch and raising PR to the main branch
    
    } */